.partners__wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 99;
  background: #0a0a0c;
  padding-bottom: 110px;
  @media screen and (max-width: 767px) {
    padding-bottom: 0px;
    height: 120px;
  }
  & .partners__title {
    text-align: center;
    color: azure;
    margin-top: 60px;
    color: rgb(93, 115, 146);
    font-family: "Commissioner";
    font-size: 14px;
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  & .partners {
    margin-top: 20px;
    margin-left: 0px;
    display: inline-block;
    animation: 100s scroll-left infinite linear;
    & .partners__logo {
      max-width: 130px;
      margin: 0 5px;
    }
  }
}
.partners__wrapper-mobile {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 0px;
  position: relative;
  z-index: 9999;
  background: #0a0a0c;
  @media screen and (max-width: 767px) {
    margin-bottom: 80px;
    height: 60px;
  }
  & .partners-mobile {
    display: none;
    @media screen and (max-width: 767px) {
      display: inline-block;
      margin-top: 10px;
      animation: 100s scroll-right infinite linear;
    }
    & .partners__logo {
      max-width: 130px;
      margin: 0 5px;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
